<mat-table #table [dataSource]="dataSource" matSort>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
    <!-- ID Column -->
    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="60px"> ID</mat-header-cell>
        <mat-cell *matCellDef="let row" fxFlex="60px"> {{row.id}}</mat-cell>
    </ng-container>

    <!-- Entry Text -->
    <ng-container matColumnDef="text">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Text</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.content?.text}}</mat-cell>
    </ng-container>

    <!-- User Answer -->
    <ng-container matColumnDef="answer">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="80px"> Answer</mat-header-cell>
        <mat-cell *matCellDef="let row" fxFlex="80px">
            <mat-select placeholder="User Answer"
                        [class.ignore]="row.content?.answer=='ignore'"
                        [class.accept]="row.content?.answer=='accept'"
                        [class.reject]="row.content?.answer=='reject'"
                        [value]="row.content?.answer"
                        (selectionChange)="updateAnswer(row, $event)">
                <mat-option
                        *ngFor="let answer of ['accept','reject','ignore']"
                        [value]="answer">
                    {{ answer[0].toUpperCase() + answer.slice(1) }}
                </mat-option>
            </mat-select>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>