
mat-paginator {
    position: fixed;
    padding: 12px;
    bottom:0;
    left:0;
    right:0;
}
.mat-cell, .mat-header-cell {
    overflow: hidden;
    word-wrap: break-word;
}
mat-table {
    /* mat-paginator = 56 + (12 * 2) = 80  */
    padding-bottom: 80px;
}